* {
  margin: 0;
  padding: 0;
}

:root {
  --height: 260px;
  --width: 260px;
  --gray: #949494;
}

body {
  background-color: rgb(223, 223, 223);
  font-family: "Montserrat";
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  background-color: #eee;
  width: fit-content;
  height:fit-content;
  border-radius: 15px;
}

#btn {
  cursor: pointer;
  padding: 20px 60px;
  border-radius: 15px;
  font-size: 25px;
  color: var(--gray);
  border: none;
  position: relative;
  border: 1px solid #eee;
  background-color: #eee;
  box-shadow:  5px 5px 2.5px rgba(200,200,200,.5), -2.5px -2.5px 2.5px rgba(200, 200, 200, 0.5);
} 

#btn.shadow {
  transition: all linear 150ms;
 box-shadow: none;
}
#btn.shadow.active-shadow {
  transition: all ease 150ms;
  box-shadow: 5px 5px 2.5px rgba(0,0,0,.5), inset -2.5px -2.5px 2.5px rgba(200, 200, 200, 0.5)
}

#btn:hover {
  color: transparent;
  background-image: url(imgs/holographic.jpeg);
  -webkit-background-clip: text;
  background-clip: text;
}

.inside-btn {
  background-image: url(imgs/text.png);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  mask-image: url(imgs/box-art.svg);
  -webkit-mask-image: url(imgs/box-art.svg);
  mask-position: center;
  -webkit-mask-position: center;
  -webkit-mask-size: 82.5%;
  mask-size: 100%;
  overflow: hidden;
  opacity: 1;
  transition: none;
} 

#btn:hover .inside-btn {
  opacity: 1;
  background-image: url(imgs/holographic.jpeg);
  background-position: 0% 0%;
}

.inside-btn p {
  position: absolute;
  font-size: 25px;
  background-color: var(--gray); 
}

#btn:hover .inside-btn p {
  -webkit-text-stroke: 1px black;
}

